<br>
<h1 style="margin-left: 50px;">Mis Respuestas</h1>




<% @user_comments_grouped_by_ticket.each do |ticket_id, comments| %>
  <div class="card m-5">
  <div class="card-body">
    <h2>Ticket ID: <%= ticket_id %></h2>
        <blockquote class="blockquote mb-1">
          <p><%= comments.first.ticket.description %></p>
        </blockquote>
        
            <% comments.each do |comment| %>
              <div class="card m-5">
              <div class="card-header">
              <div class="card-body">
              <blockquote class="blockquote mb-1">

                <p> <strong>  Body:</strong> 
                <%= comment.body %>
                </p>

                <% userid = comment.user_id %>
                <% user = User.find(userid) %>
                <figcaption class="blockquote-footer">
                <%= user.name %>
                
                </div>
              </div>
              
              </div>
            </blockquote>
            <% end %>
            <%= link_to "Crear comment", new_user_comment_path, class: "btn btn-secondary" %>

            </blockquote>
  </div>
  </div>
  </div>
  </div>
<% end %>
