<h1>Editing ticket</h1>

<%= render "form", ticket: @ticket %>

<br>
<div class="form-container">
  <div>
    <%= link_to "Show this ticket", @ticket, class:"btn btn-outline-secondary" %> |
    <%= link_to "Back to tickets", tickets_path , class:"btn btn-outline-secondary"%>
  </div>
</div>



  <% if can? :modify_profile, @user %>
    <div class="field">
    <%= link_to "Show this ticket", @ticket, class:"btn btn-outline-secondary" %> |
    <%= link_to "Back to tickets", tickets_path , class:"btn btn-outline-secondary"%>
    </div>
  <% end %>
