<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<% @ticket.user_comments.each do |user_comment| %>
  <% userid = user_comment.user_id %>
  <% user = User.find(userid) %>
  <% if user.normal? %>

  <% else %>
  <% end %>
<% end %>


<div class="form-container m-5">
  <div>
    <% if can? :modify_profile, @user %>
      <div class="field">
        <div class="d-grid gap-1 col-3 ">
        <%= link_to "Edit this ticket", edit_ticket_path(@ticket) , class:"btn btn-outline-secondary"%></div>
        <br>
        </div>
        <div class="d-grid gap-1 col-3 ">
          <%= link_to "Destroy this ticket", @ticket, method: :delete, class:"btn btn-outline-danger" %>
        </div>
      </div>
    <% end %>
    <br>
    <% if current_user.normal? || current_user.executive? %>
    <div class="d-grid gap-1 col-3 ">
      <%= link_to "Volver a Mis Tickets", my_comments_user_path(@user) , class:"btn btn-outline-secondary"%>
    </div>
    <% else %>
    <div class="d-grid gap-1 col-3 ">
      <%= link_to "Back to Tickets", tickets_path, class:"btn btn-outline-secondary" %>
    </div>
    <% end %>
  </div>
  <br>
</div>


