<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #313131 ;">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="#"></a>
          <img src="https://cdn-icons-png.flaticon.com/512/3209/3209737.png" alt="" width="40" height="29">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        
<a class="nav-link active" aria-current="page" href="<%= root_path %>">CallCenterApp</a>
        </li>

        <% if user_signed_in? %>
          <li class="Ticket">
            <% if current_user.normal? || current_user.executive? %>
              <%= link_to 'My Tickets', my_comments_user_path(current_user), class: 'nav-link' %>
            <% else %>
              <%= link_to 'Ticket', tickets_path, class: 'nav-link' %>
            <% end %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="Responses">
            <% if !current_user.normal?  %>
              <%= link_to 'My comments', my_replies_user_path(current_user) , class: 'nav-link' %>
            <% end %>
          </li>
        <% end %>



        <% if user_signed_in? %>
          <li class="Resolutions">
            <% if current_user.normal? || current_user.executive? %>
              <%= link_to 'My resolutions', my_resolutions_user_path(current_user), class: 'nav-link' %>
            <% else %>
              <%= link_to 'Resolutions', resolutions_path, class: 'nav-link' %>
            <% end %>
          </li>
        <% end %>



        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>

        <% if user_signed_in? %>
        <% else %>
          <li class="nav-item">
            <%= button_to 'Ingresar', new_user_session_path,  class: 'nav-link' %>
          </li>
        <% end %>

        <% if user_signed_in? %>
              <% if current_user.supervisor? || current_user.administrator? %>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href=/users >Users</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
              <% end %>
            <% end %>


      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
